body {
  overflow: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #6366F1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #6366F1;
  border-radius: 10px;
}

.navStyle {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
}

.sidebar {
  width: 100%;
  height: 90vh;
}

.layout {
  height: 100vh;

  display: grid;
  grid:
    "header header header" auto "leftSide body ." 1fr ". . ." auto / 10% 1fr auto;
  gap: 1px;
}

.header {
  grid-area: header;
}

.leftSide {
  grid-area: leftSide;
}

.body {
  grid-area: body;
}

.off {
  font-size: 1.3rem;
  color: rgb(218, 48, 48);
}

@media only screen and (max-width: 832px) {

  .layout {
    height: 100vh;
    display: grid;
    grid:
      "header header header" auto "leftSide body ." 1fr ". . ." auto / 18% 1fr auto;
    gap: 0.5px;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }
}